@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-12-16 10:08:30
 * @version $Id$
 */
*{
	font-family:"微软雅黑", "宋体","Glyphicons Halflings", "Microsoft Yahei", "华文黑体", "STHeiti", "Helvetica Neue", Helvetica,"sans-serif";
	margin: 0;
	padding:0;
	font-size: 1.6rem;
}

a:link{color: #fff;text-decoration: none}
a:visited{color: #fff;text-decoration: none}
a:hover{color: #fff;text-decoration: none}
a:active{color: #fff;text-decoration: none}

body{
	background: #fff!important;
}

p{
	margin:0;
	padding:0;
}

.mobilenone{
	display:none!important;
}

.wrapper{
	width: 100%;
	margin: 5px auto;
}
header{
	height: 120px;
}

header p{
	display: none;
}

.mobile{
	display: block;
}

.content .message button{
	width: 80%;
	margin:20px auto;
}

.error_msg{
	width: 70%;
}

.content{
	width: 95%;
}

.about{
	width: 100%;
}

.about input{
	width: 15px;
	height: 15px;
	display: block;
	float: left;
	color:gray;
}

.about span{
	color:gray;
}

.am-icon-btn {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.about .zhuce{
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin:0 auto;
	display: block;
}

.zhuce a{
	color:#00B9F2;
	width: 100%;
	font-size: 1.7rem;
}

.footer{
	margin-top: 60px;
}
