@charset "UTF-8";
/**
 * 
 * @authors Ling (you@example.org)
 * @date    2015-12-10 17:57:13
 * @version $Id$
 */
/* ----------------------左侧css----------------------------- */
.wrapper .pcleft{
    position: absolute;
    width:130px;
    left:0;
    top:0;
    background-color: #000;
}

.wrapper .pcleft .menu{
	width:130px;
    position: fixed;
    margin-top: 250px;
	text-align: center;
}

.menu ul{
	list-style: none;
	line-height: 30px;
}

.menu ul li{
	margin-left: 10%;
    width: 50%;
	padding-top:25%;
	font-size: 2.0rem;
}

.menu ul li a{
	color:#fff;
}

.menu .button{
	width:55%;
	height: 30px;
	border-radius: 3px;
	background-color: #fff;
	margin-left: 23%;
	margin-top: 0px;
	color:#000;
}

.menu .button span{
	line-height: 30px;
	font-size: 1.4rem;
}

.menu .search{
	width:35px;
	height:35px;
	font-size:14px;
	line-height: 35px;
	margin-top: 20px;
}

.menu ul .current{
	border-bottom: 3px solid rgb(0,204,255);	
	color:rgb(0,204,255);
}

.menu ul .current span{
	color:rgb(0,204,255);
}

/* 搜索2，搜索歌词、听后感searchdiv2左侧的搜索框*/
.wrapper .pcleft .search_ab{
	position: absolute;
	width:560px;
    height:310px;
    left:110px;
    top:225px;
    display: none; 
    z-index: 888;
}

 .searchdiv2{
    width:560px;
    height:270px;
    position: fixed;
    background-color: #fff;   
    padding:20px;
    display:none;  
}

 .searchdiv2 .song{
 	width:50%;
 	float: left;
 	height: 230px;
 }

 .song_div,.listen_div{
     width:85%;
     margin:0 auto;
 }
 
 .searchdiv2 p{
 	line-height: 40px;
 	border-bottom-style:solid;
 	border-width: 1px;
 	border-color: #E4E4E4;
 	
 }
 .searchdiv2 span{
 	color:#999999;
 }
 
 .searchdiv2 .listen{
 	width:46%;
 	float: left;
 	height: 230px;
 	margin-left:4%;
 	border-left-style:solid;
 	border-width: 1px;
 	border-color: #E4E4E4;
 }

  .put {
  	width: 224px;
  	height: 40px;
  	position: fixed;
  	top:495px;
  }


.put input{
	width: 225px;
	height: 40px; 
    text-indent: 1em;
    outline: none;
    margin-top: 51px;
    position: absolute;
    top:-50px;
}

.put input,.searchdiv2,.put img{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.put img{
    position: absolute;
    left:181px;
    top:2px;
 }
/* --------------------------------------右侧css--------------------------------- */
.wrapper .pcright{
   	position: absolute;
   	width:260px;
   	right:0;
   	top:0;
   	height: 300px;
}

.wrapper .pcright .aa{
	position: fixed;
	width: 220px;
	top:55px;
	margin-left: 2%;
}

.headd{
	width: 45%;
	top:0px;	
	overflow: hidden;
}

.headd ul {
    list-style: none;
    margin-left:-28%;
}

.headd .dnone{
	color:#fff;
	font-size: 2.2rem;
	font-weight: bold;
}

.headd .dcircle{
	font-size: 2.6rem;
}

/* 滚动条、二维码 */
.conright{
	width:100%;
	top:140px;
}

.conright.code{
	width: 30%;
	height:200px;
	top:17%;
	right: 20%;
	color:#fff;
}

.conright .chesong,.conright .checlose{
   width: 35%;
   color: #fff;
   font-size: 1.3rem;
   text-decoration:underline;
   bottom: 20px;
}

.conright .checlose{
	display: none;
	width: 12%;
}

.conright .code .code-img img{
	width:45%;
	max-width: 100%;
	height: 45%;
	margin-top: 50px;
}

.download span{
	font-size: 1.4rem;
}

/** 滚动条 main container */
.jScrollbar { 
	height:400px;
	overflow:hidden;
	position:fixed;
	background-color:#000;
	padding:5px;
	margin-top: 10px;
	display: none;
	margin-left: -2%;
}
/* text container */
.jScrollbar_mask { 
	width:200px;
	position:relative;
	top:0;
	float:left;
}
/* paragraphs */
.jScrollbar .jScrollbar_mask p { 
	margin:0;
	padding:0;
    line-height:25px; 
	color:rgb(201,201,201);
	font-size:1.2rem;
	text-align: center;
      
}

/* slider container */
.jScrollbar_draggable { 
	float:left;
	width:12px;
	height:380px;
	overflow:hidden;
	margin-left:-2%;
	position:relative;
	top:5px;
}

/** draggable **/
.jScrollbar_draggable a.draggable { 
	position:relative;
	background-color:rgb(161,161,161);
	display:block;
	height:120px;
	width:9px;
	margin-left:6px;
	/* cursor:s-resize; */
	cursor:pointer;
}
