@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-12-02 18:13:12
 * @version $Id$
 */
*{
	font-family:"微软雅黑", "宋体","Glyphicons Halflings", "Microsoft Yahei", "华文黑体","FontAwesome", "STHeiti", "Helvetica Neue", Helvetica,"sans-serif";
	margin: 0;
	padding:0;
	font-size: 1.5rem;
  color: rgba(255,255,255,0.4);

}

body{
	 background: url("../images/bg.png")!important; 
   background-position: center center;
   background-size: 100% 100%;
 /*  |no-repeat|repeat||repeat-y*/
}

p{
	margin:0;
	padding:0;
}

a{
  color: rgba(255,255,255,0.4);
}
a:link{color: rgba(255,255,255,0.4);text-decoration: none}
a:visited{color:rgba(255,255,255,0.4);text-decoration: none}
a:hover{color: rgba(255,255,255,0.4);text-decoration: none}
a:active{color: rgba(255,255,255,0.4);text-decoration: none}

.pcnone{
	display: none;
}

.wrapper{
    width:1280px;
    /* height:1000px; */
    position:relative;
    margin: 0 auto;
}

.wrapper .pcmiddle{
	  width:980px;
   	/* height: 600px; */
   	position: absolute;
   	top:0;
   	left:130px;
   	min-height: 1000px;
}

/*-------to-top--------*/
.wrapper .uptotop{
	position: absolute;
	right: 150px;
	bottom:20px;
	width: 40px;
	background-color: #ccc;
}

.wrapper .to-top{
	width: 40px;
	height: 65px;
	background-color: #fff;
	bottom:20px;	
	position: fixed;
}

.wrapper .top-cade{
	text-align: center;
	margin:0 auto;
}

.wrapper .top-cade img{
	width: 35px;
	height: 35px;
}
/* -----------------------中间----------------------- */
/*header*/
.pcmiddle header{
	width:100%;
	height:140px;
}

.heada{
	width: 22%;
	height: 140px;
	float: left;
	text-align: left;
}

.heada p{
	font-size:3.8rem;
	color:#fff;
  line-height: 140px;
	font-weight: bold;
}

.headb{
	width:58%;
	height:140px;
	float: left;
	position: relative;
}

.headb img{
	position: absolute;
  top: 64px;
  right: 10px;
}

/* .headb ::-webkit-input-placeholder{
	color: red;
} */

.headb input,.put input{
	width:100%;
	height: 40px; 
  text-indent: 1em;
  outline: none;
  border:1px solid #A0A0A0;
  margin-top: 51px;
  color: #A0A0A0;
  font-size: 1.5rem;
  background: transparent;
}

.put input,.searchdiv1,.searchdiv2,.put img{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.searchdiv1{
    width:60%;
    height:270px;
    background-color: #fff;
    position: absolute;
    left:20%;
    top:93px;
    padding:20px;
    display:none; 
}

.searchdiv1 .song{
	width:50%;
	float: left;
	height: 230px;
}
.song_div,.listen_div{
    width:85%;
    margin:0 auto;
}

.searchdiv1 p{
	line-height: 40px;
	border-bottom-style:solid;
	border-width: 1px;
	border-color: #E4E4E4;
	border-spacing: 
}
.searchdiv1 span{
	color:#999999;
}

.searchdiv1 .listen{
	width:46%;
	float: left;
	height: 230px;
	margin-left:4%;
	border-left-style:solid;
	border-width: 1px;
	border-color: #E4E4E4;
}

.headc{
	width: 20%;
	height:140px;
	float: left;
}

.headc button{
    background-color: transparent;
    border: none;
    text-align: center;
    margin: 54px auto;
    color: rgba(255,255,255,0.8);
    /*margin-left: 18%;*/
    background-color: #A78D0A;
    border-radius: 3px;
    padding: 7px 10px;
    vertical-align: middle;
    outline: none;
}

.headc .login_class{
   background-color: transparent;
   margin-left: 2%;
}

/*content*/
.content{
	width:100%;
}

.content .hot-new{
	height: 40px;
	margin-bottom: 40px;
}

.content .hot-new ul{
	list-style: none;
	margin-left: -30px;
	overflow: hidden;
}

.content .hot-new ul li{
   color: rgb(121,121,121);
   float: left;
   padding: 3px 13px;
   margin-right:2%; 
   font-size: 1.5rem;
}

.option1{
   border-bottom: 1px solid  rgba(255,255,255,0.8);!important;
}

.option1 span{
	  color: rgba(255,255,255,0.8);
}

.content .hot-new ul li a{
	color: rgba(255,255,255);
}

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 1.5em 0 0 0, rgba(255, 255, 255, 0.3) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.3) 0 1.5em 0 0, rgba(255, 255, 255, 0.3) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.3) -1.5em 0 0 0, rgba(255, 255, 255, 0.3) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.3) 0 -1.5em 0 0, rgba(255, 255, 255, 0.3) 1.1em -1.1em 0 0;
  -webkit-box-shadow:rgba(255, 255, 255, 0.3) 1.5em 0 0 0, rgba(255, 255, 255, 0.3) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.3) 0 1.5em 0 0, rgba(255, 255, 255, 0.3) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.3) -1.5em 0 0 0, rgba(255, 255, 255, 0.3) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.3) 0 -1.5em 0 0, rgba(255, 255, 255, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.3) 1.5em 0 0 0, rgba(255, 255, 255, 0.3) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.3) 0 1.5em 0 0, rgba(255, 255, 255, 0.3) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.3) -1.5em 0 0 0, rgba(255, 255, 255, 0.3) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.3) 0 -1.5em 0 0, rgba(255, 255, 255, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}

.card {
    background: black;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 48px;
}

.conbox{
	height:234px;
  margin-top: 75px;
  width:890px;
  background: url(../images/dott.png) no-repeat bottom;
}

.conimg{
	height: 200px;
  padding: 0px;
  overflow: hidden;
  width: 44%;
  float: left;
}

.conimg img{
	float:left;
	width:100%;
	height: auto;/**/
}

.contxt{
    overflow: hidden;
    width: 56%;
    color: #fff;
    height: 234px;
    padding: 0 40px;
    float: left;
}

.txttop {
	margin-bottom: 35px;
}

 .txttop .disp{
	/*display: inline;
	font-size: 1.6rem;
	color:rgb(228,228,228);*/
}

.txttop .txtsize {
    margin-top: 8px;
}

.txtsize a{
  color: rgba(255,255,255,0.8);
}

.txtmid .disp img{
	border-radius: 50%;
	-moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border: rgba(255,255,255,0.8) 1px solid;
}

.txttop span{
	font-size: 1.4rem;
	margin: 0 5px 0 5px;
}

.disp,.ptalk{
  display: inline;
}

.txtmid .txtsize{
   /* font-size: 2.2rem;
    font-weight: bold;
    color:#fff;*/
}

.txtmid p span{
	font-size: 1.4rem;
	margin-left: 15px;
}

.txtmid .ptalk{
  float: right;
  margin-left: 10px;
}

/*登录注册
*/
.am-dimmer{
  /*background: url(../images/bg2.png)!important;*/
  background-color: #14161A;
}

.am-dimmer.am-active {
    opacity: 0.9!important;
}

.am-modal{
    display: block;
    width: 455px!important;
    margin-left: -200px;
    margin-top: -335px!important;
}
.am-modal-dialog {
    border-radius: 0;
    background: transparent;
}

header{
  height: 120px;
  width: 100%;
  text-align: center;
}

header h1{
  display: inline;
  font-size: 4.0rem;
  font-weight: 100;
  color: rgba(255,255,255,0.9);
}

header p{
  font-size: 1.6rem;
  color: rgba(255,255,255,0.8);
}

.content_login,
.content_register,
#registerCode .input_code{
  width:75%;
  height: 200px;
  margin:0 auto;
}

.message{
  text-align: center;
  position: relative;
}

.content_login .message .input input,
.content_register .message .input input,
#registerCode .input_code input{
  line-height: 50px;
  height: 50px;
  width: 100%;
  outline:none;
  display: block;
  background: #fff;
  border-top-style:none;
  border-left-style:none;
  border-right-style:none;
  border-bottom-style: 1px solid #666666;
  text-indent: 1rem;
  margin-top: 10px;
  color: gray;
}

.content_login .message .input input:focus,
.content_register .message .input input:focus{
  border:2px solid #AB9113;
}

.content_login .message button,
.content_register .message button{
  width: 100%;
  height: 45px;
  margin-top: 15px;
  outline: none;
  background-color: #AB9113;
  color: rgba(255,255,255,0.8);
  border:none;
  letter-spacing: 10px;
}

.content_register{
  margin-bottom: 45px;
}

.error_msg{
    color: #F9F6F6;
    height: 50px;
    line-height: 50px;
    position: absolute;
    width: 65%;
    left: 16%;
    top: 37px;
    background: #AB9113;
    opacity: 0.8;
    display: none;
}

.about span,.about img{
  font-size: 1.3rem;
  color:#fff;
  float: left;
}

.about{
  margin-top: 10px;
}

.about a{
  float:right;
}

.footer{
  width: 100%;
  text-align: center;
  color: #fff;
  height: 150px;
}

.lz{
  display: block;
  margin-bottom: 10px;
}

.footer a{
  margin-bottom: 10px;
  color:#fff;
}

.footer span{
  color: rgba(255,255,255,0.8);
}

/* 两横线 */
.footer .text{
  float:left;
  line-height:40px;
  opacity: 0.5;
  width:32%;
}

hr{
  float:left;
  width:34%;
  border-top-style:ridge;
  border-color: #423F3F;
  border-width: 3px;
}

.more{
  margin-top: 50px;
  left:50%;
  float: left;
  position: absolute;
}

.more a{
  float: left;
    margin:0 10px;
    position: relative;
    left:-50%;
    font-size: 2.0rem;
}

.am-icon-btn {
    width: 45px;
    height: 45px;
    line-height: 45px;
}

#registerCode .input_code{
  position: relative;
}

#registerCode input:focus{
  border:2px solid #AB9113;
}

#registerCode .lyouge{
  position: absolute;
  top:68px;
  right: 10px;
  line-height: 35px;
  border: none;
  background: transparent;
  color:gray;

}

#registerCode .jr{
    line-height: 50px;
    color: rgb(255,255,255);
    border: none;
    margin-top: 15px;
    background-color:  #AB9113;
    width: 100%;
}

#missPsw{
  width: 75%;
  margin:0 auto;
  position: relative;
}

/*忘记密码*/
#missPsw .input1,
#missPsw .input2,
#missPsw .input3{
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  border: none;
  outline: none;
  text-indent: 1rem;
  color:gray;
}

#missPsw .input1:focus,
#missPsw .input2:focus,
#missPsw .input3:focus{
  border:2px solid #AB9113;
}

#missPsw .btn {
    position: absolute;
    bottom: 77px;
    right: 11px;
    border: none;
    color: gray;
    background: transparent;
}

#missPsw .btn_reset{
  width: 100%;
  color:#fff;
  background-color: #AB9113;
  height: 50px;
  border: none;
  outline: none;
  margin-top: 15px;
}




